# iris4h-ai: LOINC 追加 config
# 用途: /var/cache/txcache/loinc-2.82.cache を fhirserver に読み込ませる

terminologies
  lang
    type: lang
    source: lang.txt
    active: true
  loinc
    type: loinc
    active: true
    source: /var/cache/txcache/loinc-2.82.cache
  ucum
    type: ucum
    source: ucum-essence.xml
    active: true
